/.cache/
/.codex
/_deps/
/build/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake
/compile_commands.json
/build-clean

_deps
CMakeFiles
.ninja_deps
.ninja_log
build.ninja
cmake_install

*.a
*.cache
*.dll
*.exe
*.ninja
*.obj
*.o
*.pdb
*.psd
*.so
*.swp
*.tmp
imgui.ini
/data/imgui.ini

.clangd
.idea/
.vs/
.vscode/

Hub-Shop-Item structure.excalidraw
renameBashCommand.txt

docs
tools