/.cache/
/.codex
/_deps/
/build/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake
/compile_commands.json

*.a
*.cache
*.dll
*.exe
*.ninja
*.obj
*.o
*.pdb
*.psd
*.so
*.swp
*.tmp

.clangd
.idea/
.vs/
.vscode/

Hub-Shop-Item structure.excalidraw
renameBashCommand.txt
