objs
CMakeFiles
_deps
*.cmake
*ninja*
CMakeCache.txt
out
*.cache
*.idea
*.vs
*.vscode
*.exe
libs/ffmpeg/bin
compile_commands.json
renameBashCommand.txt
.psd
Hub-Shop-Item structure.excalidraw
.clangd
